exportPattern("^[[:alpha:]]+")
export(gbtm_monotone)
export(e_step_init)
export(e_step)
export(m_step)
export(group_props)
export(log_lik)
export(conf_boot)
export(std_errors)
export(com_inf)
export(com_inf_pi)
export(com_inf_gamma)
export(com_inf_theta)
export(cov_score)
export(Thetas)
export(cov_score_pi)
export(cov_score_pi_theta)
export(cov_score_gamma)
export(cov_score_gamma_theta)
export(cov_score_theta)
export(cov_score_theta_theta)

